#wrap{
    width: 100%;
    height: 900px;
    background-color: beige;
}

header{
    width: 100%;
    height: 900px;
    background-color: cadetblue;
}

aside{
    background-color: crimson;
}

main{
    background-color: darkkhaki;
}

footer{
    background-color: darkorchid;
}

.timo{
    width: 300px;
    height: 100px;
    background: aquamarine;
}
/* h1{
    color: blue;
}

h2{
    color: rgb(0, 194, 26);
}

h3{
    color: rgb(255, 31, 236);
}
 */
